@inherits LayoutComponentBase
<div class="main">
    <div class="bbnavbarcont">
        <NavLink class="bbnavbarimg" href="home">
            <img src="images/bambamIcon.png" />
        </NavLink>
        <NavLink class="bbnavbarlink" href="repartidores">
            Repartidores
        </NavLink>
        <NavLink class="bbnavbarlink" href="productos">
            Productos
        </NavLink>
        <NavLink class="bbnavbarimglink" href="perfil">
            <img src="images/bambamprofile.png" />
        </NavLink>
    </div>
    @Body
</div>

@code {

}
