@layout BambamLayout
@page "/home"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedSessionStore
@inject NavigationManager Navigation
@inject IConfiguration Configuration
@using bambamWP.Models

<h3>Homepage</h3>

<div class="row">
    <div class="col-auto m-3">
        <button @onclick="categorias">Categorias</button>
    </div>
    <div class="col-auto m-3">
        <button @onclick="unidades">Unidades</button>
    </div>
    <div class="col-auto m-3">
        <button @onclick="geststock">Gestionar stock</button>
    </div>
</div>
<br />
<br />
<button @onclick="logout">Salir</button>

<LoginAuth />

@code {
    private async Task logout(){
        await ProtectedSessionStore.DeleteAsync("usuId");

        string theurl = Configuration[BambamConstant.bbappname] != "" ?
            "/" + Configuration[BambamConstant.bbappname] + "/" :
            "/";
        Navigation.NavigateTo(theurl);
    }

    private void categorias(){
        string theurl = Configuration[BambamConstant.bbappname] != "" ?
            "/" + Configuration[BambamConstant.bbappname] + "/categorias" :
            "/categorias";
        Navigation.NavigateTo(theurl);
    }

    private void unidades(){
        string theurl = Configuration[BambamConstant.bbappname] != "" ?
            "/" + Configuration[BambamConstant.bbappname] + "/unidades" :
            "/unidades";
        Navigation.NavigateTo(theurl);
    }

    private void geststock(){
        string theurl = Configuration[BambamConstant.bbappname] != "" ?
            "/" + Configuration[BambamConstant.bbappname] + "/geststock" :
            "/geststock";
            Navigation.NavigateTo(theurl);
    }
}
