@layout BambamLayout
@page "/home"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedSessionStore
@inject NavigationManager Navigation

<h3>Homepage</h3>

<div class="row">
    <div class="col-auto m-3">
        <button @onclick="categorias">Categorias</button>
    </div>
    <div class="col-auto m-3">
        <button @onclick="unidades">Unidades</button>
    </div>
</div>
<br />
<br />
<button @onclick="logout">Salir</button>

<LoginAuth />

@code {
    private async Task logout(){
        await ProtectedSessionStore.DeleteAsync("usuId");
        Console.WriteLine("GOODBYE DEAR USER");
        Navigation.NavigateTo("/");
    }

    private void categorias(){
        Navigation.NavigateTo("/categorias");
    }

    private void unidades(){
        Navigation.NavigateTo("/unidades");
    }
}
