.cmlogintitle{
    width: 70%;
    margin: 5rem auto;
    text-align: center;
}

.cmlogintitle > h1{
    color: white;
}

.cmlogintitle > h1 > span{
    color: #D4AF37;
}

.cmloginimagecont{
    width: 70%;
    margin: auto;
    text-align: center;
}

.cmloginimage{
    max-height: 10rem;
}

.cmloginformcont {
    width: 55%;
    margin: auto;
    text-align: center;
}

.cmloginbutton {
    background-color: #D4AF37;
    color: white;
    padding: 0.5rem 2rem;
    border-style: hidden;
    border-radius: 10px;
}

button:hover.cmloginbutton {
    background-color: #ebce6e;
}